@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3">
        <div style="width:25rem; text-align:center; border:solid; border-width:1px; margin-top: 10px;">
            <h4> Random number generator </h4>
            <h2 id="randomNumber_byTime"> 0 </h2>
        </div>

        <div style="width:25rem; text-align:center; border:solid; border-width:1px; margin-top: 10px;">
            <h4> Get Random Value by Click </h4>
            <button onclick="getRandValue()"> Click Me </button>
            <h2 id="randomNumber_byClick"> 0 </h2>
        </div>
    </div>
    <div class="col-lg-5">
        <div id="piechart" style="width: 500px; height: 300px;"></div>
    </div>

</div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/SignalR-helper.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });

        function drawChart(dataArray) {
            console.log(dataArray);
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Parameters1', dataArray[0]],
                ['Parameters2', dataArray[1]],
                ['Parameters3', dataArray[2]],
                ['Parameters4', dataArray[3]],
                ['Parameters5', dataArray[4]]
            ]);

            var options = {
                is3D: true,
                title: 'Live Graph Updated by SignalRHub'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
}